html {
  font-size: 16px;
  font-family: sans-serif;
}
body.fixed {
  max-width: 700px;
  margin: auto;
}
header {
  background-color: lightskyblue;
}
h1 {
  color: lightblue;
}
#form {
  width: 450px;
}
#related {
  width: 250px;
}
#submitBtn {
  color: white;
  background-color: blue;
}
