body {
  margin: auto;
}
header {
  text-align: left;
  background-color: rgb(182,31,157);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 10px 0;
}
#clockStyle {
  float: right;
  margin-right: 20px;
  padding-top: 4px;
  font-size: 12px;
}

#container {
  display: flex;
  flex-direction: row;
  height: 300px;
}
#left, #middle, #right {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 33.3%
}
#left {
  background-color: rgb(107,199,64);
}
#middle {
  background-color: rgb(34,180,185);
}
#right {
   background-color: rgb(31,121,182);
}
canvas {
  display: block;
  margin: auto;
}
#currentTimeBtn {
  margin: 0 auto;
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(182,31,157);
  color: #fff;
}

@media screen and (max-width: 749px) {
  #container {
    flex-direction: column;
    height: 900px;
    
  }
}
